tensorflow==2.15.1
keras==2.15.0
numpy==1.26.4
pandas==3.0.5
scikit-learn==1.9.0
matplotlib==3.11.1
opencv-python==4.10.0.84
tensorboard==2.15.2
tensorflow-datasets==4.9.4
tensorflow-hub==0.16.1
tensorflow-addons==0.23.0
albumentations==2.0.8
onnx==1.16.2
tf2onnx==1.17.0
keras-tuner==1.4.8
shap==0.44.1
lime==0.2.0.1
tensorflow-model-optimization==0.8.1
coremltools==9.0
